<h1>Log in to your account</h1>

<%= form_with(url: sessions_path, scope: :session, local: true) do |f| %>

<div>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>

    <%= f.label :password %> <br>
    <%= f.password_field :password %><br>

    <%= f.submit "Log in" %>
  <% end %>
</div>
