<h1>Tasks</h1>

<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <a href="/tasks/<%= task.id %>">
        <%= task.description %>
    </li>
  <% end %>
</ul>


<%= link_to 'Add New Task', new_task_path %>

<% if current_user %>
  Logged in as <%= current_user.email %>
<% else %>
  <%= link_to 'Sign Up', new_user_path %>
  <%= link_to 'Log In', new_session_path %>
<% end %>
